.body {
  /* height: 50vh;*/
  height: 65vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 50%;
}

.title {
  color: #f0a04b;
}
