@import url('./body.css');
@import url('./navbar.css');
@import url('./bottom.css');
@import url('./restart-btn.css');
@import url('./instructions.css');
@import url("./next-btn.css");
@import url("./back-btn.css");
@import url("./questions.css");
@import url("./delete-question.css");
